.clearfix {
  float: none;
  clear: both;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: Helvetica, Arial, serif;
}

#content {
  width: 80%;
  min-height: 500px;
  margin: 20px auto 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #ddd;
}

#header {
  padding: 15px;
  background-color: #1976d2;
}

#logo {
  width: 50px;
  display: block;
  float: left;
}

#header h1 {
  margin: 0;
  margin-left: 15px;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 55px;
  font-size: 25px;
  text-transform: uppercase;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  color: white;
  float: left;
}

.main {
  padding: 15px;
}

.main h1 {
  color: #444;
}

#restaurantes-list {
  padding: 0;
  margin: 0;
}

.restaurante-item {
  list-style: none;
  width: 100%;
  border-top: 1px solid #ddd;
  height: 100px;
  float: left;
  padding-top: 20px;
  padding-bottom: 20px;
  color: gray;
}

.restaurante-item .image {
  height: 105px;
  width: 105px;
  overflow: hidden;
  background-color: #ccc;
  float: left;
}

.restaurante-item .image img {
  height: 105px;
}

.restaurante-item .data {
  float: left;
  margin-left: 20px;
}

.restaurante-item .data h4 {
  color: #444;
  margin: 0;
  padding: 0;
  margin-top: 5px;
}

.btn {
  cursor: pointer;
  font-size: 13px;
  border: 1px solid #ccc;
  border-color: #1976d2;
  border-radius: 4px;
  box-shadow: 0 0 5px #ddd;
  padding: 5px;
  text-decoration: none;
  color: white;
  background-color: #0074d9;
}

.btn.btn-editar {
  background-color: #0a0;
  border-color: #59a600;
}

.btn.btn-eliminar {
  background-color: #e23237;
  border-color: #f54747;
}

.loading {
  list-style: none;
  text-decoration: none;
}

.restaurante-box .precio {
  color: white;
  background-color: green;
  font-size: 14px;
  padding: 5px;
  box-shadow: 2px 2px #aaa;
  text-align: center;
  width: 200px;
}

.restaurante-box .direccion {
  color: gray;
}

nav {
  width: 100%;
  background-color: #f2f2f2;
  height: 45px;
  font-size: 14px;
  border-bottom: 1px solid #ddd;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0;
  display: block;
  float: left;
  border-right: 1px solid white;
  height: 45px;
  line-height: 35px;
}

nav ul li a {
  display: block;
  padding: 5px 20px;
  text-decoration: none;
  color: #444;
  transition: all 100ms;
}
nav ul li a:hover {
  background-color: #1976d2;
  color: white;
  opacity: 0.8;
}

.seguro {
  float: left;
  position: absolute;
  background-color: white;
  padding: 10px;
  margin-top: -45px;
}
